<persistence keyspace="serkorneev" table="product" ttl="86400">
    <keyspaceOptions>
        REPLICATION = {'class' : 'SimpleStrategy', 'replication_factor' : 1}
        AND DURABLE_WRITES = true
    </keyspaceOptions>
    <tableOption>
        comment = 'Cache test'
        AND read_repair_chance = 0.2
    </tableOption>
    <keyPersistence class="java.lang.String" strategy="PRIMITIVE" column="uniq_id"/>
    <valuePersistence class="com.griddynamics.dev.apacheigniteexample.entity.Product" strategy="POJO"/>
</persistence>